<html>
<head>
  <link href="css/stylesheet.css" type="text/css" rel="stylesheet" />
<!-- This Confession Board is currently in beta mode :) -->

</head>

<body>

<div class='banner'><img src='/images/banner.png' width='100%'></div>

<div class='confess_box'>
<form action='/confess' method='POST'>
  <input type='text' name='content' width='600' id='form_input' autocomplete='off'> &nbsp;&nbsp;
  <input type='submit' value='Confess!' id='submit_button'>
</form>
</div>
<br><br>
<h1>Latest Confessions:</h1>
<% @confessions.reverse.each do |confession| %>
	<div class='update'>
    <p class='update'><%= confession.content %></p>
    <p class='time'><%= confession.created_at.to_s.chars[0..15].each_slice(10).to_a.rotate.flatten.drop(1).insert(5, " ").join %></p>
    </div><br>
<% end %>

</body>

</html>